---
import ProjectCard from "./ProjectCard.astro";

type Project = {
    title: string;
    imageURL: string,
    description: string,
    stack: string[],
    link: string
}

interface Props {
    projects: Project[];
}

const { projects } = Astro.props
---

<div class="cards-container">
    {projects.map((project) => (
        <ProjectCard 
            backgroundUrl={project.imageURL}
            title={project.title}
            content={project.description}
            link={project.link}
            tags={project.stack}
        />
    ))}
</div>

<style>
    .cards-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 1rem;
    }

    @media (max-width: 768px) {
        .cards-container {
            grid-template-columns: 1fr; /* Una card por fila en móviles */
        }
    }
</style>